name: Pull request comment
on:
    pull_request_target:
        types: [opened]
permissions:
    pull-requests: write
    issues: write
jobs:
    pr-comment:
        runs-on: ubuntu-latest
        steps:
          - name: Comment on new PR
            uses: actions/github-script@v6
            with:
              github-token: ${{ secrets.GITHUB_TOKEN }}  
              script: |
                github.rest.issues.createComment({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: context.issue.number,
                  body: 'Thanks for contributing!',
                });
